## Case Study

In [ ]:
"""
Create a function called "addition_2number"
that takes two input numbers from user
and returns sum and count of them.
"""
def addition_2number():
  num1 = float(input("Enter the first number: "))
  num2 = float(input("Enter the second number: "))
  return num1 + num2, 2

total, count = addition_2number()
print(f'sum: {total} , count: {count}')

Enter the first number: 1
Enter the second number: 1
sum: 2.0 , count: 2

In [ ]:
"""
Create a function called "addition"
that can add two or more numbers
till user enters zero
and returns answer and count of input numbers in a list.
"""
def addition():
    total = 0
    count = 0
    num = float(input("Enter a number (enter 0 to stop): "))
    while num != 0:
        total += num
        count += 1
        num = float(input("Enter a number (enter 0 to stop): "))
    return [total, count]


result = addition()
print(f"Sum: {result[0]}, Count: {result[1]}")

Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 0
Sum: 3.0, Count: 3

In [ ]:
"""
Create a function called "subtraction"
that can subtract two or more numbers
till user enters zero
and returns answer and countof input numbers in a list.
"""
def subtraction():
    total = 0
    count = 0
    num = float(input("Enter a number (enter 0 to stop): "))
    if count == 0:
      total = num
      count += 1
    while num != 0:
        num = float(input("Enter a number (enter 0 to stop): "))
        if num == 0:
          break
        total -= num
        count += 1
    return [total, count]


result = subtraction()
print(f"Difference: {result[0]}, Count: {result[1]}")

Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 0
Difference: -1.0, Count: 3

In [ ]:
"""
Create a function called "multiplication"
that can multiply two or more numbers
till user enters zero
and returns answer and count of input numbers in a list.
"""
def multiplication():
    total = 1
    count = 0
    num = float(input("Enter a number (enter 0 to stop): "))
    if num == 0:
      return [0,0]
    while num != 0:
        total *= num
        count += 1
        num = float(input("Enter a number (enter 0 to stop): "))
    return [total, count]

result = multiplication()
print(f"Product: {result[0]}, Count: {result[1]}")

Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 2
Enter a number (enter 0 to stop): 0
Product: 2.0, Count: 3

In [ ]:
"""
Create a function called “average”
that returns mean of “addition” function.
"""
def average(func):
  result = func()
  if result[1] == 0:
    return 0
  else:
    return result[0] / result[1]
avg = average(addition)
print(f"Average: {avg}")

Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 2
Enter a number (enter 0 to stop): 3
Enter a number (enter 0 to stop): 0
Average: 2.0

In [ ]:
"""
Create a simple calculator
that asks user to perform operations among created functions.
"""
def calculator():
    while True:
      print("1: Addition, 2: Subtraction, 3: Multiplication, 0: Exit")
      choice = int(input('Enter a number '))

      if choice == 0:
          print("Exiting calculator")
          break
      if choice == 1:
          result = addition()
          print(f"Sum: {result[0]}, Count: {result[1]}")
      elif choice == 2:
          result = subtraction()
          print(f"Difference: {result[0]}, Count: {result[1]}")
      elif choice == 3:
          result = multiplication()
          print(f"Product: {result[0]}, Count: {result[1]}")
      else:
          print("Invalid input")

calculator()

1: Addition, 2: Subtraction, 3: Multiplication, 0: Exit
Enter a number 1
Enter a number (enter 0 to stop): 2
Enter a number (enter 0 to stop): 3
Enter a number (enter 0 to stop): 0
Sum: 5.0, Count: 2
1: Addition, 2: Subtraction, 3: Multiplication, 0: Exit
Enter a number 0
Exiting calculator

In [ ]:
"""
Write a Python program
to find intersection of two given arrays
using lambda.
"""
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]

intersection = list(filter(lambda x: x in list2, list1))

print(intersection)

TypeError: 'list' object is not callable

In [ ]:
"""
Write a Python program
to add two given lists
using map and lambda.
"""
def add_lists(list1, list2):
  if len(list1) != len(list2):
    return []
  return list(map(lambda x, y: x + y, list1, list2))

list1 = [1, 2, 3]
list2 = [4, 5, 6]

result_list = add_lists(list1, list2)

print(result_list)

TypeError: 'list' object is not callable

In [ ]:
"""
Write a Python program
that stores numbers in a list
which are divisible by nineteen or thirteen from a given list.
"""
def find_divisible_numbers(numbers):
  divisible_numbers = []
  for num in numbers:
      if num % 19 == 0 or num % 13 == 0:
          divisible_numbers.append(num)
  return divisible_numbers

numbers = [13, 19, 26, 38, 57, 76, 95]
result_list = find_divisible_numbers(numbers)
print(result_list)

[13, 19, 26, 38, 57, 76, 95]

## Homework 1

In [ ]:
"""
Create variable age equal to 32 and check its type.
"""
age = 32
type(age)

int

In [ ]:
"""
Create variable height equal to 1.85
and check its type.
"""
height = 1.85
type(height)

float

In [ ]:
"""
Create variables name and surname.
Define them as 'your_name' and 'your_surname'.
"""
name = "your_name"
surname = "your_surname"

In [ ]:
"""
Sum up name and surname variables.
Define as ID.
"""
ID = name + surname

In [ ]:
"""
Use indexing.
Find last letter of 'your_name'.
"""
last_letter = name[-1]

In [ ]:
"""
Use slicing.
Find 2nd and 3rd letters of 'your_surname'.
"""
second_third_letters = surname[1:3]

In [ ]:
"""
Create list as new_list.
Include 3 4 5 6 7 integers.
"""
new_list = [3, 4, 5, 6, 7]

In [ ]:
"""
Remove 5 from new_list.
"""
new_list.remove(5)

In [ ]:
"""
Delete 2nd value of new_list.
"""
del new_list[1]

In [ ]:
"""
Create tuple as new_tuple.
Include 3 4 5 6 7 integers.
"""
new_tuple = (3, 4, 5, 6, 7)

In [ ]:
"""
Change 4 in new_tuple to 8.
"""
# Tuples are immutable.
# I need to create a new tuple.

new_tuple = (3, 8, 5, 6, 7)

In [ ]:
"""
Find the difference between age and 25,
if the number is greater than 17
return the square of the difference.
"""
def age_difference():
  age = int(input("Enter your age: "))
  diff = age - 25
  if age > 17:
    print("Your age is greater than 17")
    return diff**2
  else:
    print("Your age is less than 17")
    return diff

print(age_difference())

Enter your age: 32
Your age is greater than 17
49

## Homework 2

In [9]:
"""
Print First 10 natural numbers
using while loop.
"""
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
"""
Display -10 to -1
using for loop
"""
for i in range(-10, 0):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [13]:
"""
Write a Python program
that prints all the numbers
from 0 to 6
except 3 and 6.
"""
for i in range(7):
  if i == 3 or i == 6:
      continue
  print(i)

0
1
2
4
5

In [14]:
"""
Calculate the sum of all number
between 1 and 111
"""
def calculate_sum():
  total = 0
  for i in range(1, 112):
      total += i
  return total

sum_of_numbers = calculate_sum()
print(f"The sum of numbers from 1 to 111 is: {sum_of_numbers}")

The sum of numbers from 1 to 111 is: 6216

In [17]:
"""
Reverse the following list
using for loop
list1 = [10, 20, 30, 40, 50]
"""
list1 = [10, 20, 30, 40, 50]
reversed_list = []
for i in range(len(list1) - 1, -1, -1):
  reversed_list += [list1[i]]
print(reversed_list)

[50, 40, 30, 20, 10]

In [18]:
"""
Write a Python program
to find those numbers which are divisible by 7 and 5,
between 1500 and 2700 (both included).
"""
def find_divisible_numbers():
  numbers = []
  for i in range(1500, 2701):
    if i % 7 == 0 and i % 5 == 0:
      numbers.append(i)
  return numbers

divisible_numbers = find_divisible_numbers()
divisible_numbers

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

In [19]:
"""
Display a message “Done”
after successful execution of for loop
"""
for i in range(7):
  if i == 3 or i == 6:
      continue
  print(i)
print("Done")

0
1
2
4
5
Done

In [20]:
"""
Write a Python program
to create a lambda function
that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y
and print the result
"""
add_15 = lambda x: x + 15
multiply = lambda x, y: x * y

number = 10
result_add = add_15(number)
print(f"Adding 15 to {number}: {result_add}")

num1 = 5
num2 = 3
result_mult = multiply(num1, num2)
print(f"Multiplying {num1} and {num2}: {result_mult}")

Adding 15 to 10: 25
Multiplying 5 and 3: 15

In [24]:
"""
Write a Python program
to square and cube every number in a given list of integers using Lambda
"""
numbers = list(range(7))

square_numbers = list(map(lambda x: x**2, numbers))
cube_numbers = list(map(lambda x: x**3, numbers))

print("Original numbers:", numbers)
print("Squared numbers:", square_numbers)
print("Cubed numbers:", cube_numbers)

Original numbers: [0, 1, 2, 3, 4, 5, 6]
Squared numbers: [0, 1, 4, 9, 16, 25, 36]
Cubed numbers: [0, 1, 8, 27, 64, 125, 216]

In [26]:
"""
Write a lambda function
that returns takes x as parameter
and returns x+2.
Then assign it to a variable named L
"""
L = lambda x: x + 2
print(L(32))

34

In [27]:
"""
Write a function
which takes two arguments:
a and b
and returns the multiplication of them: a*b.
Assign it to a variable named f
"""
f = lambda a, b: a * b
print(f(32,2))

64

In [28]:
"""
Write a Python program
to add two given lists
using map and lambda
"""
def add_lists(list1, list2):
  if len(list1) != len(list2):
    return []
  return list(map(lambda x, y: x + y, list1, list2))

list1 = [1, 2, 3]
list2 = [4, 5, 6]

result_list = add_lists(list1, list2)
result_list

[5, 7, 9]

In [29]:
"""
Write a map function
that adds plus 5 to each item in the list
"""
numbers = list(range(7))
add_five = list(map(lambda x: x + 5, numbers))
add_five

[5, 6, 7, 8, 9, 10, 11]

In [30]:
"""
Write a map function
that adds "Hello, "
in front of each item in the list
"""
def add_hello(item):
  return "Hello, " + str(item)

my_list = list(range(7))
new_list = list(map(add_hello, my_list))
new_list

['Hello, 0',
 'Hello, 1',
 'Hello, 2',
 'Hello, 3',
 'Hello, 4',
 'Hello, 5',
 'Hello, 6']

In [32]:
"""
Using map() function and len() function
create a list that's consisted of lengths of each element in the first list
"""
def string_length(my_list):
  return list(map(len, my_list))

my_list = ["apple", "banana", "cherry"]
result = string_length(my_list)
result

[5, 6, 6]

In [33]:
"""
Using map() function and lambda
add each elements of two lists together.
Use a lambda with two arguments.
"""
def add_lists_with_lambda(list1, list2):
  if len(list1) != len(list2):
    return []
  return list(map(lambda x, y: x + y, list1, list2))

list1 = [1, 2, 3]
list2 = [4, 5, 6]

result_list = add_lists_with_lambda(list1, list2)
print(result_list)

[5, 7, 9]